<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cats</title>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Carme');
        @import url('https://fonts.googleapis.com/css?family=Montserrat:400,800,900');
        body{
            margin: 0 0 0 0;
            background-size: cover;
            background-position: center;
            background-image: url('images/selkirk_04.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        a{
            color: white;
            text-decoration: none;
            vertical-align: middle;
            font-size: 18px;
            font-family: Arial, Helvetica, sans-serif;
            margin-right: 33px;
            top: 70px;
        }

        a:hover{
            color: #A1CD3A;
        }
    </style>
</head>
<body>
    <% include ../partials/header.ejs %>
</body>
</html>