<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cats</title>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Carme');
        @import url('https://fonts.googleapis.com/css?family=Montserrat:400,800,900');
        body{
            margin: 0 0 0 0;
            background-size: cover;
            background-position: center;
            background-image: url('/images/selkirk_04.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        a{
            color: white;
            text-decoration: none;
            vertical-align: middle;
            font-size: 18px;
            font-family: Arial, Helvetica, sans-serif;
            margin-right: 33px;
            top: 70px;
        }

        a:hover{
            color: #A1CD3A;
        }

        .name{
            margin-top: 300px;
            text-align: center;
            margin-left: 30%;
            margin-right: 30%;
            background-color: rgba(7, 55, 77, .5);
            align-content: center;
        }
        .name h1{
            font-size: 75px;
            color: #A1CD3A;
            font-family: Helvetica, arial, sans-serif;
            font-weight: 700;
            line-height: 75px;
        }

        .name h2{
            font-size: 30px;
            color: white;
            font-family: Helvetica, arial, sans-serif;
            font-weight: 500;
        }
    </style>
</head>
<body>
    <% include ../partials/header.ejs %>
    <div class="homePhoto">
        </div><div id="foobar"><img src="images/bottom_bg.jpg" width="100%" alt="" /></div>
    <div class="name">
        <h1 style="text-transform: uppercase;"><%= cat[2].name %></h1>
        <h2><%= cat[2].summary %></h2>
    </div>
    <% include ../partials/footer.ejs %>
</body>
</html>