<header style="background-color: #07374D; height: 100px; display: flex; flex-direction: row; justify-content: space-between; flex-wrap: nowrap; width: 100%; z-index: 5; position: fixed;">
    <div>
        <img src="public/images/sphynx_01.jpg" alt="Snow House Logo" style="border: 5px solid #07374D; height: 130px; border-radius: 50%; margin-top:6px; margin-left: 50px; z-index: 5;">
        <div class="title">
        <h5>SNOW HOUSE</h5>
        <p>Snow Ice  *  Tapioca  *  Smoothies</p>
        </div>
    </div>
    <div class="flexend">
        <a href="#">Home</a>
        <a href="#">Menu</a>
        <a href="#">Gallery</a>
        <a href="#">Contact<span class="hideit"> & Location</span></a>
    </div>
</header>
