<header style="background-color: #07374D; height: 100px; display: flex; flex-direction: row; justify-content: space-between; flex-wrap: nowrap; width: 100%; z-index: 5; position: fixed;">
    <div style="display: flex; flex-direction: row;">
        <img src="images/selkirk_01.jpg" alt="Snow House Logo" style="border: 5px solid #07374D; height: 130px; border-radius: 50%; margin-top:6px; margin-left: 50px; z-index: 5;">
        <div style="margin-top: 25px; color: white; vertical-align: center; width: 250px; font-family: 'Carme', Arial, Helvetica, sans-serif; margin-left: 20px;">
            <h5 style="letter-spacing: 2px;">Selkirk Rex</h5>
        </div>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: flex-end;">
        <a href="http://localhost:8000/">Home</a>
        <a href="#">Cat List</a>
        <a href="#">Cat Gallery</a>
        <a href="#">Random Cat</a>
    </div>
</header>